@import "~materialize-css/sass/materialize";

canvas {
  cursor: grab;
  margin: 0 auto;
  border-radius: 5px;
  background: black;

  &.grabbing {
    cursor: grabbing;
  }
}

.card-panel {
  padding: 10px;
}