@import "~materialize-css/sass/materialize";

canvas {
  cursor: grab;
  margin: 0 auto;
  border-radius: 5px;
  background: black;
  width: 600px !important;
  height: 480px !important;


  &.grabbing {
    cursor: grabbing;
  }
}

.card-panel {
  padding: 10px 15px;
}

.controls {
  zoom: 0.8;
  max-height: 80vh;
  overflow: hidden;
  overflow-y: auto;

  .row .col {
    padding: 0 0.35rem;
  }

  input {
    margin: 0;
    max-height: 2rem !important;
  }
}